*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    font-family: 'Roboto', sans-serif;
    background-color: #5f007f;
    
     
}

.dad-form{
    display: flex;
    justify-content: center;
    align-items: center;
     text-align: center;
     margin-top: 120px;
}

.form{
     
    padding: 70px;
    background-color: #a9008d;
    border-radius: 90px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
 
.put{
     
    padding: 20px;
    border-radius: 90px;
    border-color:#5f007f;
    background-color: #a9008d;
}

.put::placeholder{
     color: aliceblue;
     text-align: center;
     font-size: xx-small;
}

.but{
    padding: 10px;
    border-radius: 90px;
    background-color: #5f007f;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}